@import 'tailwindcss';

@theme {
    --color-background: #070b14;
    --color-container-primary: rgba(255, 255, 255, 0.03);
    --color-container-secondary: rgba(255, 255, 255, 0.05);
    --color-border-primary: rgba(255, 255, 255, 0.08);
    --color-text-primary: #ffffff;
    --color-text-secondary: #94a3b8;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--font-poppins);
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;

        background:
            radial-gradient(
                circle at top,
                rgba(59, 130, 246, 0.15),
                transparent 35%
            ),
            #070b14;

        color: var(--color-text-primary);
    }

    body::before {
        content: '';

        position: fixed;
        inset: 0;

        background-image:
            linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
            linear-gradient(
                90deg,
                rgba(255, 255, 255, 0.02) 1px,
                transparent 1px
            );

        background-size: 60px 60px;

        pointer-events: none;

        z-index: -1;
    }

    h1,
    h2,
    h3 {
        letter-spacing: -0.03em;
    }

    button {
        cursor: pointer;
        transition: 0.2s;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
